Benchmarks/VogelsAbbott/ANNarchy/annarchy
Benchmarks/VogelsAbbott/ANNarchy/spikes.out
Benchmarks/Brunel/ANNarchy/annarchy
Benchmarks/Brunel/ANNarchy/plasticweights.txt
Benchmarks/Brunel/ANNarchy/timefile.dat

Benchmarks/Brunel/Spike/Build
Benchmarks/VogelsAbbott/Spike/Build

Benchmarks/VogelsAbbott/brian2/spikes.out
Benchmarks/VogelsAbbott/brian2/timefile.dat

Benchmarks/Brunel/auryn/brunel.0.*
Benchmarks/Brunel/auryn/network.dat.*
Benchmarks/Brunel/auryn/sim_brunel2k_pl.0*
Benchmarks/Brunel/auryn/timefile.dat
Benchmarks/Brunel/auryn/output
Benchmarks/VogelsAbbott/auryn/coba*
Benchmarks/VogelsAbbott/auryn/timefile.dat
Benchmarks/VogelsAbbott/auryn/sim_coba_benchmark
Benchmarks/VogelsAbbott/auryn/sim_coba_benchmark.0.log

Benchmarks/Brunel/pyNest/timefile.dat
Benchmarks/Brunel/pyNest/setpaths.sh
Benchmarks/Brunel/pyNest/PlasticSynapseWeights.txt
Benchmarks/Brunel/pyNest/Build
Benchmarks/VogelsAbbott/pyNest/timefile.dat
Benchmarks/VogelsAbbott/pyNest/Build
Benchmarks/VogelsAbbott/pyNest/va-py-ex-4001-0.gdf

Benchmarks/VogelsAbbott/genn/simulator
Benchmarks/VogelsAbbott/genn/simulator.o
Benchmarks/VogelsAbbott/genn/simulator.d
Benchmarks/VogelsAbbott/genn/simulator_wrapper
Benchmarks/VogelsAbbott/genn/generateALL
Benchmarks/VogelsAbbott/genn/timefile.dat
Benchmarks/VogelsAbbott/genn/spikes.csv
Benchmarks/VogelsAbbott/genn/sm_version.mk
Benchmarks/VogelsAbbott/genn/va_benchmark_CODE

Benchmarks/Brunel/ee.wmat
Benchmarks/Brunel/ei.wmat
Benchmarks/Brunel/ii.wmat
Benchmarks/Brunel/ie.wmat

Benchmarks/Brunel/_results/.ipynb_checkpoints
Benchmarks/VogelsAbbott/_results/.ipynb_checkpoints

